.vs
KhMedium/bin
KhMedium/obj
KhMedium/KhMedium.csproj
KhMedium/KhMedium.csproj.user
KhMedium/packages.config
.gitignore
KhMedium/Entities/
KhMedium/KhMedium.csproj
KhMedium/KhMedium.csproj.user
KhMedium/Web.config
KhMedium/bin/KhMedium.dll
KhMedium/Web - Copy.config
KhMedium/obj/Debug/CoreCompileInputs.cache
KhMedium/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KhMedium/obj/Debug/KhMedium.dll
KhMedium/obj/Debug/KhMedium.pdb
KhMedium/obj/Debug/TempPE/Entities.Database.Designer.cs.dll
KhMedium/obj/Debug/TempPE/Entities.Database.cs.dll
test.txt