
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <link href="@Url.Content("~/Content/css/style.nav.css.css")" rel="stylesheet" type="text/css" />
}
<link href="~/Content/pages/tops/index.css" rel="stylesheet" type="text/css"/>
<h2>Index</h2>


<section class="k l m n o p q s cg">
	<section class="o ch q c">
		<div class="z ci ac">
			<div class="c v cj">
				<div class="c ck ac">
					<h2 class="ai y cl bj cm bk cn co cp c an cq cr">Startups</h2>
					<div class="cs c">
						<span class="bj b bk bl bm bn c an ct cr bo bp">Founding, funding, and beyond.</span>
					</div>
				</div>
				<div class="cu c ap ac">
					<a href="//medium.com/m/signin?redirect=%2F%2Fmedium.com%2F_%2Fsubscriptions%2Ftopic%2Fstartups%2F&amp;source=topic_page--------------------ba2d3ab15ed6------follow_topicpage-" class="cv ai y bw cw cx cy cz bc bz bj b bk bl bm bn ca cb q cc cd bf">Follow</a>
				</div>
			</div>
			<div class="da c db ac">
				<span class="bj b bk bl bm bn c bo bp">Follow to get great stories about <!-- -->Startups<!-- --> in your inbox and on your homepage</span>
			</div>
		</div>
		<div class="cs c ap ac">
			<div class="o dc">
				<span class="bj cm bk dd de df c dg dh di">Featured</span>
				<div class="z dj dk dl ac">
					<a href="" class="c dm dn do dp dq o"></a>
				</div>
				<div class="dr c x">
					<a href="" class="c dm dn do dp ds o"></a>
				</div>
				<div class="dt c du">
					<div class="dv dw">
						<h1 class="ai y cl bj cm bk dx dy dz c an ea cr">
							<a href="">Nothing Can Stop Google. DuckDuckGo Is Trying Anyway.</a>
						</h1>
						<div class="eb c">
							<p class="bo bp bj b bk ec ed bn c an ee cr dv ef">
								<a href="">2019 may finally be the year for ‘The Search Engine That Doesn’t Track You’</a>
							</p>
						</div>
					</div>
				</div>
				<div class="eg z eh">
					<div class="dv dw">
						<h3 class="ai y cl bj cm bk ei ej ek c an el cr">
							<a href="https://medium.com/""drewmillard/nothing-can-stop-google-duckduckgo-is-trying-anyway-718eb7391423?source=topic_page---------------------------20">Nothing Can Stop Google. DuckDuckGo Is Trying Anyway.</a>
						</h3>
						<div class="eb c">
							<p class="bo bp bj b bk ec ed bn c an ee cr dv ef">
								<a href="">2019 may finally be the year for ‘The Search Engine That Doesn’t Track You’</a>
							</p>
						</div>
					</div>
				</div>
				<div class="em c">
					<div class="s t">
						<a href="">
							<img alt="Drew Millard" src="https://miro.medium.com/fit/c/80/80/1*sQ0GLVTkBJIX49OP_uc_5Q.jpeg" class="c en eo ep" width="40" height="40">
						</a>
						<div class="bq c">
							<a href="">
								<span class="bj b bk bl bm bn c ai y">Drew Millard</span>
							</a>
							<span class="bj b bk bl bm bn c bo bp">
								<div class="s t">
									<div class="eq s er">Jan 17<div class="es et c">
									<span class="c">
										<span class="bj b bk bl bm bn c bo bp">·</span>
									</span>
									</div>14 min read</div>
									<div class="eu af c ev as">
										<svg class="svgIcon-use" width="15" height="15" viewBox="0 0 15 15">
											<path d="M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z"></path></svg>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ew c ex ac">
			<div>
				<h2 class="bj cm bk ey ez fa ai y fb fc di">Latest</h2>
			<div class="fd fe c">
			<section class="m n o ff q c">
				<div class="o dc">
					<section class="fd fe s">
						<div class="l fg q s fh cg fi fj fk v">
							<div class="fl c fk v cj">
								<div class="dv dw">
									<h3 class="ai y cl bj cm bk ec fm fn c an ee cr">
										<a href="">Stop searching the web for answers. Go talk to your customers</a>
									</h3>
									<div class="eb c">
										<p class="bo bp bj b bk bl bm bn c an ct cr dv ef">
											<a href="">About me: I’m a PM Founder making a lot of bets at Marax AI and learning in the process. I write about good products I experience and my…</a>
										</p>
									</div>
								</div>
								<div class="z fo ac">
									<a href="" class="c dm dn fp fq fr fs">
										</a>
								</div>
							</div>
							<div class="ft c">
								<div class="o s cg">
									<div class="c fi">
										<div class="s">
											<span class="bj b bk bl bm bn c an ct cr ai y">
												<a href="">Sumant US</a>
											</span>
										</div>
										<span class="bj b bk bl bm bn c bo bp">
											<div class="s t">Jan 20·5 min read</div>
										</span>
									</div>
									<div class="c ev as fu ac">
										<svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="c">
							<div class="dc c x">
								<a href="" class="c dm dn fp fv dc fw">
								</a>
							</div>
						</div>
					</section>
				</div>
			</section>
			<section class="m n o ff q c">
				<div class="o dc">
					<section class="fd fe s">
						<div class="l fg q s fh cg fi fj fk v">
							<div class="fl c fk v cj">
								<div class="dv dw">
									<h3 class="ai y cl bj cm bk ec fm fn c an ee cr">
										<a href="">Japan’s Entrepreneurial Ecosystem: A showcase of disparity and paradox</a>
									</h3>
									<div class="eb c">
										<p class="bo bp bj b bk bl bm bn c an ct cr dv ef">
											<a href="">The new year has come and 365 days gone by since my first visit to Japan. Japan is a showcase of disparity and paradox. Every city visited…</a>
										</p>
									</div>
								</div>
								<div class="z fo ac">
									<a href="" class="c dm dn fp fx fr fs"></a>
								</div>
							</div>
							<div class="ft c">
								<div class="o s cg">
									<div class="c fi">
										<div class="s">
											<span class="bj b bk bl bm bn c an ct cr ai y">
												<a href="">Corbin Norman</a>
												<a href="">&nbsp;in <!-- -->Makers Boot Camp</a>
											</span>
										</div>
										<span class="bj b bk bl bm bn c bo bp">
											<div class="s t">
												<div class="eq s er">Jan 20<div class="es et c">
												<span class="c">
													<span class="bj b bk bl bm bn c bo bp">·</span>
												</span>
												</div>5 min read</div>
												<div class="eu af c ev as">
												</div>
											</div>
										</span>
									</div>
									<div class="c ev as fu ac">
										<svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="c">
							<div class="dc c x">
								<a href="" class="c dm dn fp fy dc fw"></a>
							</div>
						</div>
					</section>
				</div>
			</section>
			<section class="m n o ff q c">
				<div class="o dc">
					<section class="fd fe s">
						<div class="l fg q s fh cg fi fj fk v">
							<div class="fl c fk v cj">
								<div class="dv dw">
									<h3 class="ai y cl bj cm bk ec fm fn c an ee cr">
										<a href="">How The Next Trillion Start-Ups Will Be Funded</a>
									</h3>
									<div class="eb c">
										<p class="bo bp bj b bk bl bm bn c an ct cr dv ef">
											<a href="">On the breakthrough in funding for business growth</a>
										</p>
									</div>
								</div>
								<div class="z fo ac">
									<a href="" class="c dm dn fp fz fr fs">
									</a>
								</div>
							</div>
							<div class="ft c">
								<div class="o s cg">
									<div class="c fi">
										<div class="s">
											<span class="bj b bk bl bm bn c an ct cr ai y">
												<a href="">Adriaan Jacob Brouwer</a>
												<a href="">&nbsp;in <!-- -->The Startup</a>
											</span>
										</div>
										<span class="bj b bk bl bm bn c bo bp">
											<div class="s t">
												<div class="eq s er">Jan 22<div class="es et c">
												<span class="c">
													<span class="bj b bk bl bm bn c bo bp">·</span>
												</span>
												</div>8 min read</div>
												<div class="eu af c ev as"></div>
											</div>
										</span>
									</div>
									<div class="c ev as fu ac">
										<svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="c">
							<div class="dc c x">
								<a href="" class="c dm dn fp ga dc fw"></a>
							</div>
						</div>
					</section>
					</div>
			</section>
			<div class="gb gc gd c ge gf">
				<div class="gg gh c gi gj ac">
					<div class="gk c">
						<h2 class="bj cm bk dd de df c dg dh di">Featured Writer</h2>
					</div>
					<div class="s ac gl">
						<div class="s fi v gm">
							<div class="s t fh as">
								<div class="c x">
									<a href="">
										<img alt="Deb Knobelman, PhD" src="https://miro.medium.com/fit/c/260/260/1*sGfS_SdBClDJax2txOmwvA.jpeg" class="c en gn go" width="130" height="130">
									</a>
								</div>
								<div class="z ac">
									<a href="" src="https://miro.medium.com/fit/c/110/110/1*sGfS_SdBClDJax2txOmwvA.jpeg" class="c en gp gq" width="55" height="55"></a>
								</div>
								<div class="em c x">
									<a href="" class="cv ai y bw cw cx cy cz bc bz bj b bk bl bm bn ca cb q cc cd bf">Follow</a>
								</div>
							</div>
							<div class="gr c fi gs ac">
								<h3 class="ai y cl bj cm bk ec fm fn c">
									<a class="at au av aw ax ay az ba bb bc gt bf bg bh bi" href="knobelman">Deb Knobelman, PhD</a>
								</h3>
								<div class="gu c x">
									<p class="bo bp bj b bk bl bm bn c an gv cr dv ef">Neuroscience. Wall Street. C-Suite. Parent. Recovering Nervous Nelly. https://www.debknobelman.com</p>
								</div>
							</div>
							<div class="z as gs ac">
								<a href="" class="cv ai y bw cw cx cy cz bc bz bj b bk bl bm bn ca cb q cc cd bf">Follow</a>
							</div>
						</div>
						<div class="z gw ac">
							<p class="bo bp bj b bk bl bm bn c an gv cr dv ef">Neuroscience. Wall Street. C-Suite. Parent. Recovering Nervous Nelly. https://www.debknobelman.com</p>
						</div>
					</div>
				</div>
			</div>
			<section class="m n o ff q c">
				<div class="o dc">
					<section class="fd fe s">
						<div class="l fg q s fh cg fi fj fk v">
							<div class="fl c fk v cj">
							<div class="dv dw">
									<h3 class="ai y cl bj cm bk ec fm fn c an ee cr">
										<a href="">Quitting My Addiction to Struggle Porn</a>
									</h3>
									<div class="eb c">
										<p class="bo bp bj b bk bl bm bn c an ct cr dv ef">
											<a href="">No more Gary Vee for me</a>
										</p>
									</div>
								</div>
								<div class="z fo ac">
									<a href="" class="c dm dn fp gx fr fs">
									</a>
								</div>
							</div>
							<div class="ft c">
								<div class="o s cg">
									<div class="c fi">
										<div class="s">
											<span class="bj b bk bl bm bn c an ct cr ai y">
												<a href="">Aphinya Dechalert</a>
											</span>
										</div>
										<span class="bj b bk bl bm bn c bo bp">
											<div class="s t">
												<div class="eq s er">Jan 22<div class="es et c">
															<span class="c">
																<span class="bj b bk bl bm bn c bo bp">·</span>
															</span>
													</div>4 min read</div>
												<div class="eu af c ev as">
													<svg class="svgIcon-use" width="15" height="15" viewBox="0 0 15 15"><path d="M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z"></path></svg>
												</div>
											</div>
										</span>
									</div>
									<div class="c ev as fu ac">
										<svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd"></path></svg>
									</div>
								</div>
							</div>
						</div>
						<div class="c">
							<div class="dc c x">
								<a href="" class="c dm dn fp gy dc fw">
								</a>
							</div>
						</div>
					</section>
				</div>
			</section>
			<section class="m n o ff q c">
				<div class="o dc">
			<section class="fd fe s">
				<div class="l fg q s fh cg fi fj fk v">
					<div class="fl c fk v cj">
						<div class="dv dw">
							<h3 class="ai y cl bj cm bk ec fm fn c an ee cr">
								<a href="">Being Conservative vs. Taking Risks: Why You Need Both</a>
							</h3>
							<div class="eb c">
								<p class="bo bp bj b bk bl bm bn c an ct cr dv ef">
									<a href="">Life needs balance.</a>
								</p>
							</div>
						</div>
						<div class="z fo ac">
							<a href="" class="c dm dn fp gz fr fs"></a>
						</div>
					</div>
					<div class="ft c">
						<div class="o s cg">
							<div class="c fi">
								<div class="s">
									<span class="bj b bk bl bm bn c an ct cr ai y">
										<a href="">Tim Rettig</a>
										<a href="">&nbsp;in <!-- -->The Startup</a>
									</span>
								</div>
								<span class="bj b bk bl bm bn c bo bp">
									<div class="s t">
											<div class="eq s er">Jan 21
												<div class="es et c">
													<span class="c"><span class="bj b bk bl bm bn c bo bp">·</span></span>
												</div>4 min read
											</div>
											<div class="eu af c ev as"></div>
									</div>
								</span>
							</div>
							<div class="c ev as fu ac">
								<svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><path d="M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z" fill-rule="evenodd"></path></svg>
							</div>
						</div>
					</div>
				</div>
				<div class="c">
					<div class="dc c x">
						<a href="" class="c dm dn fp ha dc fw"></a>
					</div>
				</div>
			</section>
		</div>
		</section>
</div>
                
</section>
@*<section class="o hy q c x">
    <div class="hz c ia fz">
        <div class="c v cj">
            <div class="c ck ac">
                <h2 class="ai y cl bj cm bk cn co cp c an cq cr">Startups</h2>
            <div class="cs c">
                <span class="bj b bk bl bm bn c an ct cr bo bp">Founding, funding, and beyond.</span>
            </div>
            </div>
            <div class="cu c ap ac">
                <a href="" class="cv ai y bw cw cx cy cz bc bz bj b bk bl bm bn ca cb q cc cd bf">Follow</a>
            </div>
          </div>
            <div class="da c db ac">
                    <span class="bj b bk bl bm bn c bo bp">Follow to get great stories about Startups  in your inbox and on your homepage</span>
             </div>
        <div class="ib c">
            <h2 class="bj cm bk eq er es ai y et eu ev">Related topics</h2>
        </div>
        <div class="cu c">
            <a href="/topic/business">
                <span class="bj b bk gf ic bn c bo bp ev">Business</span></a>
         </div>
        <div class="gt c">
            <a href="/topic/economy"><span class="bj b bk gf ic bn c bo bp ev">Economy</span></a>
        </div>
        <div class="gt c">
            <a href="">
                <span class="bj b bk gf ic bn c bo bp ev">Leadership</span>
            </a>
       </div>
        <div class="gt c">
            <a href="">
                <span class="bj b bk gf ic bn c bo bp ev">Technology</span>
            </a>
        </div>
        <div class="gt c">
                <a href="">
                        <span class="bj b bk gf ic bn c bo bp ev">Work</span>
                 </a>
         </div>
        <div class="ib c">
                <h2 class="bj cm bk eq er es ai y et eu ev">Popular in  Startups</h2>
                <div class="o dd">
                        <article class="id eg s">
                            <div class="ie q s fa if">
                                    <div class="c as"><a href="">
                                            <div class="ig c"><h4 class="ai y cl bj cm bk bl hf hg c an ih cr">Nothing Can Stop Google. DuckDuckGo Is Trying Anyway.</h4>
                                             </div></a>
                                   </div>
                                    <div class="c">
                                            <span class="bj b bk bl bm bn c bo bp">14 min read</span>
                                    </div>
                             </div>
                        </article>
                   </div>
                  <div class="o dd">
                        <article class="id eg s">
                                <div class="ie q s fa if">
                                        <div class="c as">
                                            <a href="">
                                                <div class="ig c">
                                                        <h4 class="ai y cl bj cm bk bl hf hg c an ih cr">How I went from newbie to Software Engineer in 9 months while working full time</h4>
                                                </div>
                                           </a>
                                       </div>
                            <div class="c">
                                        <span class="bj b bk bl bm bn c bo bp">19 min read</span>
                             </div>
                            </div>
                          </article>
                  </div>
                    <div class="o dd">
                        <article class="id eg s">
                                <div class="ie q s fa if">
                                        <div class="c as">
                                                <a href="">
                                                        <div class="ig c">
                                                                <h4 class="ai y cl bj cm bk bl hf hg c an ih cr">Why learning more isn’t always better</h4>
                                                         </div>
                                                </a>
                                               </div>
                                    <div class="c">
                                                <span class="bj b bk bl bm bn c bo bp">7 min read</span>
                                    </div>
                                    </div>
                            </article>
                        </div>
        <div class="o dd">
                <article class="id eg s">
                        <div class="ie q s fa if">
                                <div class="c as">
                                        <a href="">
                                                <div class="ig c">
                                                        <h4 class="ai y cl bj cm bk bl hf hg c an ih cr">How I landed a full stack developer job without a tech degree or work experience</h4>
                                                 </div>
                                        </a>
                                </div>
                            <div class="c">
                                        <span class="bj b bk bl bm bn c bo bp">59 min read</span>
                             </div>
                            </div>
                  </article>
           </div>
            <div class="o dd">
                    <article class="id eg s">
                            <div class="ie q s fa if">
                                    <div class="c as">
                                         <a href="">
                                                <div class="ig c">
                                                        <h4 class="ai y cl bj cm bk bl hf hg c an ih cr">The Mistakes I Made As a Beginner Programmer</h4>
                                                </div>
                                         </a>
                                    </div>
                                    <div class="c">
                                                <span class="bj b bk bl bm bn c bo bp">28 min read</span>
                                    </div>
                                </div>
                </article>
              </div>
            </div>
   </div>
</section>*@
    <div class="container refLeft" style="margin-top: 30px;">
       <div class="col-lg-12">
           <h1>Startups</h1>
           <span>Founding, funding, and beyond.</span>
           
           <button type="submit" class="btn border" style="margin-top: 20px; margin-bottom:20px;border-color: rgba(0, 0, 0, 0.54);">Confirm identity</button>
           <div class="col-lg-12">
               <span>Follow to get great stories about Startups in your inbox and on your homepage</span>
           </div>
           <div class="col-lg-12" style="margin-top: 50px;">
                    <h4 class="bj cm bk eq er es ai y et eu ev">Related topics</h4>
               <hr />
           </div>
       </div>

    </div>
</section>