@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mw1000 { max-width: 1000px }

    .container.form { padding: 0; }

    .margin-top60 { margin-top: 60px; }

    .form.form--borderless { border: 0; }

    .form-row { margin: 30px 0; }

    .form-heading {
        letter-spacing: 0;
        font-weight: 600;
        font-style: normal;
    }

    .w-3of12 { width: 25% !important; }

    .form-asterisk {
        letter-spacing: 0;
        font-weight: 300;
        font-style: normal;
    }

    .w-9of12 {
        width: 75% !important;
        float: left !important
    }

    .editor-with-underline { padding-bottom: 4px; }

    .hide-out-line { outline: 0 !important }

    .min-height28 { min-height: 28px !important; }

    .editor-with-underline > p.graf--p {
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    .editable > p { margin-bottom: 0; }

    .default-value { color: #b3b3b1; }

    /*input[type="text"],
    select.form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }
    input[type="text"]:focus,
    select.form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }*/

    .form-control {
        border: 0;
        box-shadow: none;
    }

    .form-control:focus {
        outline: none;
        border: 0;
        box-shadow: none;
    }

    .input-border-bottom {
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding: 0 0;
    }

    .form-control-plaintext {
        outline: 0;
        box-shadow: none;
    }

    label:focus {
        outline: 0 !important;
        -webkit-appearance: none;
    }

    input:focus {
        outline: 0 !important;
        -webkit-appearance: none;
    }

    input, select, textarea { max-width: 100%; }

    label { padding-top: 6px; }

    .form-group-margin-top32 { margin-top: 32px; }

    .avatar-desc { padding-left: 12px; }

    .avatar-desc-content {
        color: rgba(0, 0, 0, .54);
        font-size: 12px;
        letter-spacing: 0;
    }

    .choose-image-button {
        width: 100px;
        height: 100px;
        border: 2px solid rgba(0, 0, 0, .15);
        border-radius: 10px;
    }

    .choose-cover-button {
        width: 300px;
        height: 100px;
        border: 2px solid rgba(0, 0, 0, .15);
        border-radius: 10px;
    }

    .form-hint {
        color: rgba(0, 0, 0, .54);
        font-size: 14px;
    }

    .margin-top12 { margin-top: 12px; }

    .add-tag-input {
        padding: 8px 20px;
        background-color: rgba(0, 0, 0, .05);
        width: 100px;
    }
    .none-padding-left {
        padding-left: 0;
    }
    .btn-save {
        float: right !important;
        padding: 10px 30px;
        background: none;
        color: rgba(148, 0, 211, .7);
        border: 1px solid rgba(148, 0, 211, .7);
    }
    .btn-save:hover {
        color: rgb(148, 0, 211);
        border: 1px solid rgb(148, 0, 211);
    }
    .btn-save:focus {
        color: rgb(148, 0, 211);
        border: 1px solid rgb(148, 0, 211);
    }
    button:focus {
        outline: 0 !important;
    }
</style>
<form>
    <div class="container mw1000">
        <div class="row">
            <div class="col-12 margin-top60">
                <h1>New Publication</h1>
            </div>
            <div class="col-12 form-group row margin-top60">
                <label for="name" class="col-md-2 col-form-label">Name<span class="form-asterisk">*</span></label>
                <div class="col-md-10 input-border-bottom">
                    <input type="text" class="form-control" placeholder="Type your publication's name">
                </div>
            </div>
            <div class="col-12 form-group row form-group-margin-top32">
                <label for="description" class="col-sm-2 col-form-label">Description<span class="form-asterisk">*</span></label>
                <div class="col-sm-10 input-border-bottom">
                    <input type="text" class="form-control" placeholder="Type a short description">
                </div>
            </div>
            <div class="col-12 form-group row form-group-margin-top32">
                <label for="avatar" class="col-sm-2 col-form-label">Publication Avatar<span class="form-asterisk">*</span></label>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col avatar-desc">
                            <h5>Add Image...</h5>
                        </div>
                        <div class="col avatar-desc avatar-desc-content">
                            <p>
                                This works like a user icon and appears in previews of your publication content throughout Medium. It is square and should be at least 60 × 60px in size.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="js-avatarPreview">
                        <button class="choose-image-button">

                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group row form-group-margin-top32">
                <label for="avatar" class="col-sm-2 col-form-label">Publication Cover<span class="form-asterisk">*</span></label>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col avatar-desc">
                            <h5>Add Image...</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="js-avatarPreview">
                        <button class="choose-cover-button">

                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="form-hint">Items marked with * are required.</p>
            </div>
            <div class="col-12 form-group row form-group-margin-top32">
                <label for="tags" class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10" style="padding-left: 0;">
                    <div class="col-md-12">
                        <input class="form-control add-tag-input" placeholder="Add a tag"/>
                    </div>
                    <div class="col-md-12 margin-top12">
                        <p class="form-hint">Adding tags (up to 5) allows people to search for and discover your publication.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group row form-group-margin-top32">
                <label for="editors" class="col-sm-2 col-form-label">Editors</label>
                <p class="col-sm-10 form-hint" style="padding-top: 6px;">Editors can review submissions, add stories, edit and publish submitted drafts, and remove any stories from this publication.</p>
            </div>
            <div class="col-12 form-group row form-group-margin-top32">
                <label for="writers" class="col-sm-2 col-form-label">Writers</label>
                <div class="col-sm-10 input-border-bottom">
                    <input type="text" class="form-control" placeholder="Add or remove writers">
                </div>
            </div>
            <div class="col-md-12 none-padding-left  margin-top60">
                <button class="btn btn-save">Save</button>
            </div>
        </div>
    </div>
</form>
@*<div class="container mw1000">
    <div class="row">
        <div class="col-12">
            <h1>New Publication</h1>
        </div>
        <div class="container form form--borderless margin-top60">
            <div class="row form-row">
                <div class="col form-heading w-3of12">
                    Name
                    <span class="form-asterisk">*</span>
                </div>
                <div class="col w-9of12">
                    <div class="editor-with-underline hide-out-line min-height28 editable">
                        <p name="3c96" class="graf graf--p">
                            <span class="default-value default-value-root">Type your publication's name</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@